In [4]:
import geopandas as gpd
from tqdm import tqdm
import os
import pandas as pd

In [5]:
ACS2019_identical_to_2020_fname = r"D:\OneDrive_PSU\OneDrive - The Pennsylvania State University\Research_doc\Wild_fire\ACS_2019_CBG_identical_2020.csv"
ACS2020_identical_to_2019_fname = r"D:\OneDrive_PSU\OneDrive - The Pennsylvania State University\Research_doc\Wild_fire\ACS_2020_CBG_identical_2019.csv"

In [8]:
ACS2019_identical_to_2020_df = pd.read_csv(ACS2019_identical_to_2020_fname).sort_values('GEOID')
ACS2019_identical_to_2020_df['CBG_2019'] = ACS2019_identical_to_2020_df['GEOID'].astype(str).str.zfill(12)
ACS2019_identical_to_2020_df

,OID_,Shape_Length,AWATER,ALAND,FUNCSTAT,Shape_Area,GEOID,BLKGRPCE,TRACTCE,COUNTYFP,STATEFP,CBG_2019
154,520,0.054775,0.0,1482758.0,S,0.000142,10010203002,2,20300,1,1,010010203002
162,565,0.098013,0.0,4317354.0,S,0.000414,10010205001,1,20500,1,1,010010205001
161,559,0.053910,0.0,1886299.0,S,0.000181,10010205003,3,20500,1,1,010010205003
126,441,0.318840,196656.0,54318038.0,S,0.005241,10010209003,3,20900,1,1,010010209003
124,430,0.662919,1200878.0,206459087.0,S,0.019948,10010210001,1,21000,1,1,010010210001
...,...,...,...,...,...,...,...,...,...,...,...,...
93058,219919,0.192863,15927.0,12960538.0,S,0.001108,721537501012,2,750101,153,72,721537501012
93059,219922,0.184624,14373.0,11531346.0,S,0.000985,721537501021,1,750102,153,72,721537501021
93055,219914,0.038671,0.0,701549.0,S,0.000060,721537503002,2,750300,153,72,721537503002
92523,218212,0.033680,0.0,671533.0,S,0.000057,721537505012,2,750501,153,72,721537505012
92533,218243,0.045179,1997.0,1136090.0,S,0.000097,721537506021,1,750602,153,72,721537506021

In [10]:
ACS2020_identical_to_2019_df = pd.read_csv(ACS2020_identical_to_2019_fname).sort_values('GEOID')
ACS2020_identical_to_2019_df['CBG_2020'] = ACS2020_identical_to_2019_df['GEOID'].astype(str).str.zfill(12)
ACS2020_identical_to_2019_df

,OID_,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,Shape_Length,Shape_Area,GEOID_Data,CBG_2020
301,1191,1,1,20300,2,10010203002,Block Group 2,G5030,S,1482758.0,0.0,32.464309,-86.458472,0.054775,0.000142,15000US010010203002,010010203002
8,23,1,1,20501,1,10010205011,Block Group 1,G5030,S,4317355.0,0.0,32.446072,-86.418657,0.098013,0.000414,15000US010010205011,010010205011
10,40,1,1,20501,2,10010205012,Block Group 2,G5030,S,1886299.0,0.0,32.451954,-86.431487,0.053910,0.000181,15000US010010205012,010010205012
9,36,1,1,20901,1,10010209011,Block Group 1,G5030,S,54318041.0,196656.0,32.686698,-86.478759,0.318840,0.005241,15000US010010209011,010010209011
294,1164,1,1,21000,1,10010210001,Block Group 1,G5030,S,206459087.0,1200878.0,32.607305,-86.826210,0.662919,0.019948,15000US010010210001,010010210001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92984,241631,72,153,750101,2,721537501012,Block Group 2,G5030,S,12960538.0,15927.0,18.093695,-66.828655,0.192863,0.001108,15000US721537501012,721537501012
92985,241633,72,153,750102,1,721537501021,Block Group 1,G5030,S,11531347.0,14373.0,18.060961,-66.851205,0.184624,0.000985,15000US721537501021,721537501021
92986,241635,72,153,750300,2,721537503002,Block Group 2,G5030,S,701549.0,0.0,18.038433,-66.865007,0.038671,0.000060,15000US721537503002,721537503002
92558,240356,72,153,750501,2,721537505012,Block Group 2,G5030,S,671533.0,0.0,18.031311,-66.872366,0.033680,0.000057,15000US721537505012,721537505012
92561,240363,72,153,750602,1,721537506021,Block Group 1,G5030,S,1136090.0,1997.0,18.011872,-66.868938,0.045179,0.000097,15000US721537506021,721537506021

In [55]:
merged_df = ACS2020_identical_to_2019_df.merge(ACS2019_identical_to_2020_df[['CBG_2019', 'ALAND', 'AWATER']], left_on='CBG_2020', right_on='CBG_2019', suffixes=('_2020', "_2019"))
merged_df

,OID_,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND_x,AWATER_x,INTPTLAT,INTPTLON,Shape_Length,Shape_Area,GEOID_Data,CBG_2020,CBG_2019,ALAND_y,AWATER_y
0,1191,1,1,20300,2,10010203002,Block Group 2,G5030,S,1482758.0,0.0,32.464309,-86.458472,0.054775,0.000142,15000US010010203002,010010203002,010010203002,1482758.0,0.0
1,1164,1,1,21000,1,10010210001,Block Group 1,G5030,S,206459087.0,1200878.0,32.607305,-86.826210,0.662919,0.019948,15000US010010210001,010010210001,010010210001,206459087.0,1200878.0
2,1183,1,3,10200,2,10030102002,Block Group 2,G5030,S,105653559.0,154486.0,30.918886,-87.650998,0.488195,0.009985,15000US010030102002,010030102002,010030102002,105653558.0,154486.0
3,1181,1,3,10400,1,10030104001,Block Group 1,G5030,S,346917418.0,1973303.0,30.695189,-87.531295,1.118830,0.032845,15000US010030104001,010030104001,010030104001,346917416.0,1973303.0
4,3830,1,3,10400,2,10030104002,Block Group 2,G5030,S,139109439.0,1449198.0,30.678031,-87.702747,0.626076,0.013231,15000US010030104002,010030104002,010030104002,139109440.0,1449198.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78195,241631,72,153,750101,2,721537501012,Block Group 2,G5030,S,12960538.0,15927.0,18.093695,-66.828655,0.192863,0.001108,15000US721537501012,721537501012,721537501012,12960538.0,15927.0
78196,241633,72,153,750102,1,721537501021,Block Group 1,G5030,S,11531347.0,14373.0,18.060961,-66.851205,0.184624,0.000985,15000US721537501021,721537501021,721537501021,11531346.0,14373.0
78197,241635,72,153,750300,2,721537503002,Block Group 2,G5030,S,701549.0,0.0,18.038433,-66.865007,0.038671,0.000060,15000US721537503002,721537503002,721537503002,701549.0,0.0
78198,240356,72,153,750501,2,721537505012,Block Group 2,G5030,S,671533.0,0.0,18.031311,-66.872366,0.033680,0.000057,15000US721537505012,721537505012,721537505012,671533.0,0.0
78199,240363,72,153,750602,1,721537506021,Block Group 1,G5030,S,1136090.0,1997.0,18.011872,-66.868938,0.045179,0.000097,15000US721537506021,721537506021,721537506021,1136090.0,1997.0

In [88]:
merged_df['Land_dif'] = merged_df['ALAND_x'] + merged_df['AWATER_x'] - merged_df['ALAND_y'] - merged_df['AWATER_y']
merged_df['Land_dif'].sample(100).sum()

318562.0

In [94]:
merged_df.sample(100)

,OID_,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND_x,...,INTPTLAT,INTPTLON,Shape_Length,Shape_Area,GEOID_Data,CBG_2020,CBG_2019,ALAND_y,AWATER_y,Land_dif
61720,189957,42,19,910400,2,420199104002,Block Group 2,G5030,S,743297.0,...,41.058712,-80.055643,0.060465,0.000080,15000US420199104002,420199104002,420199104002,743297.0,0.0,0.0
49632,156029,36,59,408100,1,360594081001,Block Group 1,G5030,S,443075.0,...,40.709447,-73.558922,0.031535,0.000047,15000US360594081001,360594081001,360594081001,443075.0,0.0,0.0
62604,182794,42,71,800,1,420710008001,Block Group 1,G5030,S,246464.0,...,40.037739,-76.289768,0.020500,0.000026,15000US420710008001,420710008001,420710008001,246464.0,0.0,0.0
25539,80322,18,55,955400,3,180559554003,Block Group 3,G5030,S,1251341.0,...,39.027582,-86.933073,0.048745,0.000130,15000US180559554003,180559554003,180559554003,1251341.0,0.0,0.0
51550,148184,36,81,5800,2,360810058002,Block Group 2,G5030,S,120466.0,...,40.671308,-73.845173,0.017724,0.000013,15000US360810058002,360810058002,360810058002,120466.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63946,190530,42,101,27401,3,421010274013,Block Group 3,G5030,S,100550.0,...,40.034450,-75.129471,0.013161,0.000011,15000US421010274013,421010274013,421010274013,100550.0,0.0,0.0
29849,96814,23,5,3400,2,230050034002,Block Group 2,G5030,S,426959.0,...,43.633067,-70.246228,0.033881,0.000048,15000US230050034002,230050034002,230050034002,426959.0,0.0,0.0
55240,159432,37,133,2400,1,371330024001,Block Group 1,G5030,S,3798829.0,...,34.743670,-77.340329,0.085515,0.000385,15000US371330024001,371330024001,371330024001,3798830.0,110232.0,-1.0
16487,53985,12,57,11611,1,120570116111,Block Group 1,G5030,S,3809848.0,...,28.032822,-82.543292,0.115144,0.000399,15000US120570116111,120570116111,120570116111,3809847.0,536374.0,1.0
3990,20031,6,13,367100,2,60133671002,Block Group 2,G5030,S,380136.0,...,37.969772,-122.330080,0.027358,0.000042,15000US060133671002,060133671002,060133671002,380136.0,32931.0,0.0